data/*
!data
src/node_modules/**
node_modules
data/data_to_extract/*
!data/data_to_extract/
!data/data_to_extract/txt/
data/data_to_extract/txt/*
!data/data_to_extract/tmx/
data/data_to_extract/tmx/*
data/extracted_data/*
!data/extracted_data/
!data/archive
data/archive/*
